@{
    ViewBag.Title = "About";
    var currentPage = ViewBag.CurrentPage;
    var totalPages = ViewBag.TotalPages;
}
<style>
    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
    }

        .pagination li {
            display: inline;
        }

            .pagination li a {
                color: #007bff;
                float: left;
                padding: 6px 12px;
                text-decoration: none;
                line-height: 1.6;
                border: 1px solid #ddd;
                margin: 0 4px;
            }

            .pagination li.active a {
                background-color: #007bff;
                color: white;
            }

            .pagination li a:hover {
                background-color: #ddd;
            }

</style>
<h2>List View</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Length</th>
            <th>Reverse Firstname</th>
            <th>Selected</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr style="@(person.Age >= 23 ? "background-color: lightblue;" : "background-color: red;")">
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>@person.Age</td>
                <td>@person.FirstName.Length</td>
                <td>@(ReverseString(person.FirstName))</td>
                <td>
                    @(person.Age > 22 ? "Selected" : "Unselected")
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <ul class="pagination">
        @if (currentPage > 1)
        {
            <li><a href="@Url.Action("About", new { page = currentPage - 1 })">Previous</a></li>
        }
        @for (var i = 1; i <= totalPages; i++)
        {
            <li class="@(i == currentPage ? "active" : "")">
                <a href="@Url.Action("About", new { page = i })">@i</a>
            </li>
        }
        @if (currentPage < totalPages)
        {
            <li><a href="@Url.Action("About", new { page = currentPage + 1 })">Next</a></li>
        }
    </ul>
</div>

@functions {
    public string ReverseString(string input)
    {
        char[] charArray = input.ToCharArray();
        Array.Reverse(charArray);
        return new string(charArray);
    }
}
